<%- include ../layouts/cabecera.ejs %>

<div class="card">
  <div class="card-header">Verifique los datos para marcar salida</div>
  <div class="card-body">
    <form method="post" action="../actualizar">
      <input type="hidden" name="id" value="<%= estancia.id  %> " />
      <div class="form-group">
        <label for="my-input">Placa vehículo </label>
        <input
          id="my-input"
          value="<%= estancia.placa %> "
          class="form-control"
          type="text"
          name="tipo_vehiculo"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="my-input">Tipo vehículo</label>
        <input
          id="my-input"
          value="<%= estancia.tipo_vehiculo %> "
          class="form-control"
          type="text"
          name="placa"
          readonly
        />
      </div>
      
      <div class="form-group">
          <label for="my-input">Hora entrada</label>
          <input value="<%= moment( estancia.hora_entrada).format("DD-MM-YYYY hh:mm ")%>" id="my-input" class="form-control" type="text" name="hora_inicio" readonly>
      </div>
      <button class="btn btn-success" type="submit">Marcar Salida</button>
      <a class="btn btn-primary" href="/estancias">Cancelar</a>
    </form>
  </div>
</div>

<%- include ../layouts/pie.ejs %>
